<!-- 
<div class="container">
    <div class="row mt-5">
        <div class="col-md-8 offset-2">
          <div class="card mb-3">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="assets/medicina_legal2.jpg" class="img-fluid mt-4" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <form [formGroup]="formLogin" (ngSubmit)="acceder()">
                    <div class="form-group">
                      <label for="email">Usuario / correo</label>
                      <input type="email" class="form-control" formControlName="username">
                    </div>
                    <div class="form-group">
                      <label for="password">Contraseña</label>
                      <input type="password" class="form-control" id="password" formControlName="password">
                    </div>
                    <div class="form-group form-check">
                      
                      <input *ngIf="remember" type="checkbox" class="form-check-input" id="recordarme" formControlName="recordar" checked>
                      
                      <input type="checkbox" class="form-check-input" id="recordarme" formControlName="recordar">
                      <label class="form-check-label" for="recordarme">Recordarme</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Ingresar</button>
                    <br>
                    <a *ngIf="usuarioCero" routerLink="/register">Registrar usuario root</a>
                  </form>
                </div>
              </div>
            </div>
          </div>
            
        </div>
    </div>
  </div> -->

  <div class="container">

    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

            <div class="d-flex justify-content-center py-4">
              <a href="index.html" class="logo d-flex align-items-center w-auto">
                <img src="assets/img/logo.png" alt="">
                <span class="d-none d-lg-block">Uml-2023</span>
              </a>
            </div><!-- End Logo -->

            <div class="card mb-3">

              <div class="card-body">

                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">Accede a tu cuenta</h5>
                  <p class="text-center small">Ingrese su usuario & contraseña para acceder</p>
                </div>

                <form [formGroup]="formLogin" (submit)="acceder()" class="row g-3 needs-validation">

                  <div class="col-12">
                    <label for="username" class="form-label">Usuario</label>
                    <div class="input-group has-validation">
                      <span class="input-group-text" id="inputGroupPrepend">{{'@'}}</span>
                      <input type="text" 
                        name="username" 
                        class="form-control" 
                        id="username"
                        formControlName="username">
                      <div class="invalid-feedback">Por favor ingrese su usuario.</div>
                    </div>
                  </div>

                  <div class="col-12">
                    <label for="yourPassword" class="form-label">Contraseña</label>
                    <input 
                      type="password" 
                      name="password" 
                      class="form-control" 
                      id="yourPassword" 
                      formControlName="password">
                    <div class="invalid-feedback">Por favor ingrese su contraseña!</div>
                  </div>

                  <div class="col-12">
                    <div class="form-check">
                      <input 
                        class="form-check-input" 
                        type="checkbox" 
                        name="remember" 
                        value="true" 
                        id="rememberMe"
                        formControlName="recordar">
                      <label class="form-check-label" for="rememberMe">Recordarme</label>
                    </div>
                  </div>
                  <div class="col-12">
                    <button class="btn btn-primary w-100" type="submit">Ingresar</button>
                  </div>
                  <div class="col-12">
                    <p class="small mb-0">No tiene cuenta? <a routerLink="/register">Registrar nuevo</a></p>
                  </div>
                </form>

              </div>
            </div>

            <div class="credits">
              <!-- All the links in the footer should remain intact. -->
              <!-- You can delete the links only if you purchased the pro version. -->
              <!-- Licensing information: https://bootstrapmade.com/license/ -->
              <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
              Diseñado por <a href="#">Grover</a>
            </div>

          </div>
        </div>
      </div>

    </section>

  </div>